In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# create a simple series
s = Series([10, 20, 30, 40, 50])

In [3]:
s.loc[2]

30

In [4]:
s.loc[4]

50

In [5]:
s.loc[[2, 4]]    # passing a list of integers to []

2    30
4    50
dtype: int64

In [6]:
# what happens if I pass a list of boolean values (True/False)?
s.loc[[True, False, True, False, True]]

0    10
2    30
4    50
dtype: int64

In [7]:
# this is known as a boolean series in an index, or a boolean index
# also known as a mask index -- wherever the booleans are True, we get the original value back

In [8]:
# broadcasting
s + 5

0    15
1    25
2    35
3    45
4    55
dtype: int64

In [9]:
# what if I use an equality operator instead of +?  It'll still broadcast, giving us booleans

s == 30

0    False
1    False
2     True
3    False
4    False
dtype: bool

In [10]:
# what if I now apply this boolean series to .loc on s?
s.loc[[False, False, True, False, False]]

2    30
dtype: int64

In [11]:
s.loc[ s==30 ]

2    30
dtype: int64

In [12]:
# we can use any comparison operator we want!
s.loc[ s<30 ]

0    10
1    20
dtype: int64

In [13]:
s.loc[ (s<20) | (s>40) ]

0    10
4    50
dtype: int64

In [14]:
df = DataFrame(np.random.randint(0, 1000, [4,4]),
               index=list('abcd'),
               columns=list('wxyz'))
df

     w    x    y    z
a  568  903  130    7
b  805  169  643  299
c  887  798  306  465
d  973  930  609  191

In [15]:
# find all of the even values in column y
df['y'] % 2 == 0

a     True
b    False
c     True
d    False
Name: y, dtype: bool

In [16]:
df['y'][df['y'] % 2 == 0]

a    130
c    306
Name: y, dtype: int64

In [18]:
# much better to use .loc!
# wherever y was even, show us the entire column!
df.loc[ df['y'] % 2 == 0 ]

     w    x    y    z
a  568  903  130    7
c  887  798  306  465

In [19]:
# show me elements of column y
# where y is even

df.loc[ 
    df['y'] % 2 == 0   # row selector
    ,
    'y' # column selector
]

a    130
c    306
Name: y, dtype: int64

In [20]:
# show me elements of columns x and y
# where y is even

df.loc[ 
    df['y'] % 2 == 0   # row selector
    ,
    ['x', 'y'] # column selector
]

     x    y
a  903  130
c  798  306