In [1]:
import pandas as pd

In [3]:
filename = 'wti-daily.csv'
df = pd.read_csv(filename,
                parse_dates=['Date'],
                index_col='Date')

df

            Price
Date
1986-01-02  25.56
1986-01-03  26.00
1986-01-06  26.53
1986-01-07  25.85
1986-01-08  25.87
...           ...
2023-09-12  88.87
2023-09-13  88.59
2023-09-14  90.13
2023-09-15  90.83
2023-09-18  91.47

[9501 rows x 1 columns]

In [4]:
# what were the 10 most recent oil prices?
df.tail(10)

            Price
Date
2023-09-05  86.74
2023-09-06  87.55
2023-09-07  86.87
2023-09-08  87.51
2023-09-11  87.30
2023-09-12  88.87
2023-09-13  88.59
2023-09-14  90.13
2023-09-15  90.83
2023-09-18  91.47

In [5]:
# what were the 10 most recent DIFFERENCES in oil prices from the previous day?

df.diff()

            Price
Date
1986-01-02    NaN
1986-01-03   0.44
1986-01-06   0.53
1986-01-07  -0.68
1986-01-08   0.02
...           ...
2023-09-12   1.57
2023-09-13  -0.28
2023-09-14   1.54
2023-09-15   0.70
2023-09-18   0.64

[9501 rows x 1 columns]

In [6]:
# I don't want to compare each value with the previous one
# rather, I want to compare with 5 days ago

df.diff(periods=5)

            Price
Date
1986-01-02    NaN
1986-01-03    NaN
1986-01-06    NaN
1986-01-07    NaN
1986-01-08    NaN
...           ...
2023-09-12   2.13
2023-09-13   1.04
2023-09-14   3.26
2023-09-15   3.32
2023-09-18   4.17

[9501 rows x 1 columns]

In [7]:
df.tail(15)

            Price
Date
2023-08-28  80.65
2023-08-29  81.14
2023-08-30  81.64
2023-08-31  83.55
2023-09-01  85.52
2023-09-05  86.74
2023-09-06  87.55
2023-09-07  86.87
2023-09-08  87.51
2023-09-11  87.30
2023-09-12  88.87
2023-09-13  88.59
2023-09-14  90.13
2023-09-15  90.83
2023-09-18  91.47

In [8]:
91.47 - 87.30

4.170000000000002

In [9]:
90.83 - 87.51

3.319999999999993

In [10]:
# this is all great, but... what if I don't want to know by how much it changed
# I want to know by what *percentage* it changed

df.pct_change()

               Price
Date
1986-01-02       NaN
1986-01-03  0.017214
1986-01-06  0.020385
1986-01-07 -0.025631
1986-01-08  0.000774
...              ...
2023-09-12  0.017984
2023-09-13 -0.003151
2023-09-14  0.017383
2023-09-15  0.007767
2023-09-18  0.007046

[9501 rows x 1 columns]

In [11]:
df.pct_change(periods=5)

               Price
Date
1986-01-02       NaN
1986-01-03       NaN
1986-01-06       NaN
1986-01-07       NaN
1986-01-08       NaN
...              ...
2023-09-12  0.024556
2023-09-13  0.011879
2023-09-14  0.037527
2023-09-15  0.037939
2023-09-18  0.047766

[9501 rows x 1 columns]