In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

filename = '/Users/reuven/Courses/Current/data/nyc_taxi_2019-01.csv'

df = pd.read_csv(filename,
                usecols=['tpep_pickup_datetime', 'trip_distance',
                        'passenger_count', 'total_amount'],
                parse_dates=['tpep_pickup_datetime'])

df.head()

  tpep_pickup_datetime  passenger_count  trip_distance  total_amount
0  2019-01-01 00:46:40                1            1.5          9.95
1  2019-01-01 00:59:47                1            2.6         16.30
2  2018-12-21 13:48:30                3            0.0          5.80
3  2018-11-28 15:52:25                5            0.0          7.55
4  2018-11-28 15:56:57                5            0.0         55.55

In [2]:
df.dtypes

tpep_pickup_datetime    datetime64[ns]
passenger_count                  int64
trip_distance                  float64
total_amount                   float64
dtype: object

In [6]:
# I want to know how far, on average, people traveled at each hour of the day
# I'll create a new column, 'hour'

df['hour'] = df['tpep_pickup_datetime'].dt.hour

In [7]:
df.groupby('hour').mean()

      passenger_count  trip_distance  total_amount
hour
0            1.628404       3.354784     16.587117
1            1.637590       3.137899     15.653977
2            1.636592       3.016444     15.103719
3            1.628772       3.248158     15.672484
4            1.605353       4.025417     18.084446
5            1.503461       4.258831     18.951300
6            1.455299       3.214363     15.242420
7            1.500117       2.774819     14.662568
8            1.519649       2.504700     15.667917
9            1.520383       2.460718     14.861725
10           1.542949       2.526949     14.876165
11           1.554401       2.437092     14.469177
12           1.552102       2.541979     14.885312
13           1.558614       2.710267     15.146990
14           1.558434       2.779519     15.464271
15           1.573569       2.725301     15.441216
16           1.561337       2.835808     17.182648
17           1.569037       2.627712     15.857666
18           1.573472       2.520850     15.295477
19           1.580784       2.654441     16.645852
20           1.589204       2.917349     15.604506
21           1.607178       3.102218     16.153227
22           1.614912       3.177194     16.364056
23           1.614495       3.330301     16.678481

In [8]:
# for every hour of the day
# find the mean trip_distance
df.groupby('hour')['trip_distance'].mean()

hour
0     3.354784
1     3.137899
2     3.016444
3     3.248158
4     4.025417
5     4.258831
6     3.214363
7     2.774819
8     2.504700
9     2.460718
10    2.526949
11    2.437092
12    2.541979
13    2.710267
14    2.779519
15    2.725301
16    2.835808
17    2.627712
18    2.520850
19    2.654441
20    2.917349
21    3.102218
22    3.177194
23    3.330301
Name: trip_distance, dtype: float64

In [9]:
df.groupby('hour')['trip_distance'].mean().sort_values()

hour
11    2.437092
9     2.460718
8     2.504700
18    2.520850
10    2.526949
12    2.541979
17    2.627712
19    2.654441
13    2.710267
15    2.725301
7     2.774819
14    2.779519
16    2.835808
20    2.917349
2     3.016444
21    3.102218
1     3.137899
22    3.177194
6     3.214363
3     3.248158
23    3.330301
0     3.354784
4     4.025417
5     4.258831
Name: trip_distance, dtype: float64

In [11]:
df['day_name'] = df['tpep_pickup_datetime'].dt.day_name()

In [12]:
df.groupby('day_name')['trip_distance'].mean()

day_name
Friday       2.777719
Monday       2.872133
Saturday     2.617331
Sunday       2.962710
Thursday     2.755653
Tuesday      2.866172
Wednesday    2.793659
Name: trip_distance, dtype: float64

In [13]:
df.groupby('day_name')['trip_distance'].mean().sort_values()

day_name
Saturday     2.617331
Thursday     2.755653
Friday       2.777719
Wednesday    2.793659
Tuesday      2.866172
Monday       2.872133
Sunday       2.962710
Name: trip_distance, dtype: float64

In [14]:
df.groupby(df['tpep_pickup_datetime'].dt.hour)['trip_distance'].mean()

tpep_pickup_datetime
0     3.354784
1     3.137899
2     3.016444
3     3.248158
4     4.025417
5     4.258831
6     3.214363
7     2.774819
8     2.504700
9     2.460718
10    2.526949
11    2.437092
12    2.541979
13    2.710267
14    2.779519
15    2.725301
16    2.835808
17    2.627712
18    2.520850
19    2.654441
20    2.917349
21    3.102218
22    3.177194
23    3.330301
Name: trip_distance, dtype: float64

In [15]:
df.groupby(df['tpep_pickup_datetime'].dt.day_name())['trip_distance'].mean()

tpep_pickup_datetime
Friday       2.777719
Monday       2.872133
Saturday     2.617331
Sunday       2.962710
Thursday     2.755653
Tuesday      2.866172
Wednesday    2.793659
Name: trip_distance, dtype: float64