In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
filename = '/Users/reuven/Courses/Current/data/nyc_taxi_2019-01.csv'

df = pd.read_csv(filename,
                usecols=['tpep_pickup_datetime', 'trip_distance',
                        'passenger_count', 'total_amount'],
                parse_dates=['tpep_pickup_datetime'])

df.head()

  tpep_pickup_datetime  passenger_count  trip_distance  total_amount
0  2019-01-01 00:46:40                1            1.5          9.95
1  2019-01-01 00:59:47                1            2.6         16.30
2  2018-12-21 13:48:30                3            0.0          5.80
3  2018-11-28 15:52:25                5            0.0          7.55
4  2018-11-28 15:56:57                5            0.0         55.55

In [3]:
df.dtypes

tpep_pickup_datetime    datetime64[ns]
passenger_count                  int64
trip_distance                  float64
total_amount                   float64
dtype: object

In [7]:
# how far, on average, did people travel when there was 1 passenger in the taxi?

#      row selector             , column selector
df.loc[df['passenger_count'] == 1, 'trip_distance'].mean()

2.7790883193389573

In [8]:
# how far, on average, did people travel when there were 2 passengers in the taxi?
df.loc[df['passenger_count'] == 2, 'trip_distance'].mean()

2.8805724948972533

In [9]:
# how far, on average, did people travel when there were 3 passengers in the taxi?
df.loc[df['passenger_count'] == 3, 'trip_distance'].mean()

2.8406983328090596

In [10]:
# what I'm really trying to find out is: for each distinct value of passenger_count,
# how far did people travel, on average?

# for each distinct value of passenger_count...
df.groupby('passenger_count')

In [11]:
# I have to apply an aggregation method
# mean, min, max, std, count, sum
df.groupby('passenger_count').mean()

                 trip_distance  total_amount
passenger_count
0                     2.651561     18.663658
1                     2.779088     15.609601
2                     2.880572     15.831294
3                     2.840698     15.604015
4                     2.853084     15.650307
5                     2.865741     15.546940
6                     2.842335     15.437892
7                     2.561579     48.278421
8                     3.142759     64.105517
9                     1.486667     31.094444

In [12]:
# for each distinct value of passenger_count
# show me the mean trip_distance
df.groupby('passenger_count')['trip_distance'].mean()

passenger_count
0    2.651561
1    2.779088
2    2.880572
3    2.840698
4    2.853084
5    2.865741
6    2.842335
7    2.561579
8    3.142759
9    1.486667
Name: trip_distance, dtype: float64

In [13]:
# two different aggregation methods -- min and max
df.groupby('passenger_count')['trip_distance'].min()

passenger_count
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: trip_distance, dtype: float64

In [14]:
df.groupby('passenger_count')['trip_distance'].max()

passenger_count
0     62.40
1    831.80
2    211.36
3    142.88
4    160.52
5    214.01
6     63.15
7     23.79
8     16.68
9     13.38
Name: trip_distance, dtype: float64

In [15]:
# for each distinct value of passenger_count
# get the min and max values of trip_distance
df.groupby('passenger_count')['trip_distance'].agg(['min', 'max'])

                 min     max
passenger_count
0                0.0   62.40
1                0.0  831.80
2                0.0  211.36
3                0.0  142.88
4                0.0  160.52
5                0.0  214.01
6                0.0   63.15
7                0.0   23.79
8                0.0   16.68
9                0.0   13.38