 # List comprehensions

In [1]:
numbers = range(10)

# I want a list with all of these numbers squared

output = []

for one_number in numbers:
    output.append(one_number * one_number)
    
output

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
# not Pythonic!

# a list comprehension creates a new list
# that new list is based on an existing data structure (an iterable)

[one_number * one_number        # expression -- will be evaluated once per iteration of the for loop
 for one_number in numbers]     # iteration -- we run this for loop once for each element in numbers

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [5]:
# what if I only want the squares of the even numbers?

[one_number * one_number       # (3) expression -- SELECT
 for one_number in numbers     # (1) iteration  -- FROM
 if one_number % 2 == 0 ]      # (2) condition  -- WHERE

[0, 4, 16, 36, 64]

In [6]:
# I have a list of strings (which only contain digits), and I want to sum them

mylist = '10 20 30 40 50'.split()
mylist

['10', '20', '30', '40', '50']

In [7]:
sum(mylist)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [9]:
# I have a list of strings
# I want a list of integers
# I can convert each string to an integer with "int"

sum([int(one_item)
     for one_item in mylist])

150

In [11]:
# what if there are strings in mylist that cannot be turned into integers?

mylist = '10 20 30 hello 40 50 abcd'.split()

sum([int(one_item)
     for one_item in mylist
     if one_item.isdigit()])

150

In [12]:
# let's say that I have a list of integers
# I want to use str.join on them

mylist = [10, 20, 30]

'*'.join(mylist)

TypeError: sequence item 0: expected str instance, int found

In [13]:
# I have a list of integers
# I want a list of strings
# I can convert each int to a string with str()

'*'.join([str(one_item)
          for one_item in mylist])

'10*20*30'