In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
import glob
glob.glob('data/nyc_taxi*.csv')

['data/nyc_taxi_2020-01.csv',
 'data/nyc_taxi_2020-07.csv',
 'data/nyc_taxi_2019-07.csv',
 'data/nyc_taxi_2019-01.csv']

In [3]:
df1 = pd.read_csv('data/nyc_taxi_2020-01.csv',
                 usecols=['passenger_count',
                         'trip_distance','total_amount'])

In [4]:
df2 = pd.read_csv('data/nyc_taxi_2020-07.csv',
                 usecols=['passenger_count',
                         'trip_distance','total_amount'])

In [7]:
all_dfs = []
for one_filename in glob.glob('data/nyc_taxi*.csv'):
    print(f'Loading {one_filename}')
    new_df = pd.read_csv(one_filename,
                 usecols=['passenger_count',
                         'trip_distance','total_amount'])
    all_dfs.append(new_df)

Loading data/nyc_taxi_2020-01.csv
Loading data/nyc_taxi_2020-07.csv
Loading data/nyc_taxi_2019-07.csv
Loading data/nyc_taxi_2019-01.csv

In [8]:
len(all_dfs)

4

In [10]:
df = pd.concat(all_dfs)

In [11]:
df.shape

(21183631, 3)

In [12]:
df['passenger_count'].value_counts()

1.0    14950246
2.0     3105185
3.0      865914
5.0      820904
6.0      499122
4.0      411743
0.0      368073
7.0          82
8.0          70
9.0          45
Name: passenger_count, dtype: int64

In [13]:
all_dfs = [pd.read_csv(one_filename,
                 usecols=['passenger_count',
                         'trip_distance','total_amount'])
        for one_filename in glob.glob('data/nyc_taxi*.csv')
]

In [14]:
type(all_dfs[0])

pandas.core.frame.DataFrame

In [15]:
df = pd.concat(all_dfs)

In [17]:
df = pd.concat([pd.read_csv(one_filename,
                 usecols=['passenger_count',
                         'trip_distance','total_amount'])
        for one_filename in glob.glob('data/nyc_taxi*.csv')])

In [18]:
df.shape

(21183631, 3)