In [1]:
# SettingWithCopyWarning

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame([[10, 20, 30], [40, 50, 60]],
                 index=list('ab'),
                 columns=list('xyz'))
df

    x   y   z
a  10  20  30
b  40  50  60

In [4]:
df.dtypes

x    int64
y    int64
z    int64
dtype: object

In [5]:
# how can I retrieve row b?

In [6]:
df['y']  # column

a    20
b    50
Name: y, dtype: int64

In [7]:
df.loc['b']  # retrieve a row

x    40
y    50
z    60
Name: b, dtype: int64

In [8]:
# how can I retrieve column y in row b?

df.loc['b']['y']   # don't do this -- more on this later

50

In [9]:
df

    x   y   z
a  10  20  30
b  40  50  60

In [10]:
# how can I set the value of row b, column y to be 99?

# assign to our row and column
df.loc['b']['y'] = 99

In [11]:
df

    x   y   z
a  10  20  30
b  40  99  60

In [12]:
df = pd.DataFrame([[10, 20.5, 30], [40, 50, 60]],
                 index=list('ab'),
                 columns=list('xyz'))
df

    x     y   z
a  10  20.5  30
b  40  50.0  60

In [13]:
df.dtypes

x      int64
y    float64
z      int64
dtype: object

In [14]:
df.loc['b']

x    40.0
y    50.0
z    60.0
Name: b, dtype: float64

In [15]:
df.loc['b']['y'] = 99

/var/folders/rr/0mnyyv811fs5vyp22gf4fxk00000gn/T/ipykernel_42982/1695683208.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc['b']['y'] = 99

In [16]:
df

    x     y   z
a  10  20.5  30
b  40  50.0  60

In [17]:
df.loc['b']

x    40.0
y    50.0
z    60.0
Name: b, dtype: float64

In [19]:
df.loc['b']['y'] = 99

/var/folders/rr/0mnyyv811fs5vyp22gf4fxk00000gn/T/ipykernel_42982/1695683208.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc['b']['y'] = 99

In [20]:
# how should I be doing this?

In [22]:
# we can pass a tuple (without parentheses, typically) to df.loc, and
# specify the row(s) we want and the column(s) we want

df.loc['b', 'y']   # row b, column y

50.0

In [23]:
df.loc['b', 'y'] = 99

In [24]:
df

    x     y   z
a  10  20.5  30
b  40  99.0  60