In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/reuven/Courses/Current/data/nyc_taxi_2019-07.csv')

/var/folders/rr/0mnyyv811fs5vyp22gf4fxk00000gn/T/ipykernel_55105/171717074.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/reuven/Courses/Current/data/nyc_taxi_2019-07.csv')

In [4]:
!ls -lh /Users/reuven/Courses/Current/data/nyc_taxi_2019-07.csv

-rw-r--r-- 1 reuven staff 558M Jun  4  2021 /Users/reuven/Courses/Current/data/nyc_taxi_2019-07.csv

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6310419 entries, 0 to 6310418
Data columns (total 18 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               float64
 1   tpep_pickup_datetime   object
 2   tpep_dropoff_datetime  object
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           float64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
dtypes: float64(13), int64(2), object(3)
memory usage: 866.6+ MB

In [6]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6310419 entries, 0 to 6310418
Data columns (total 18 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               float64
 1   tpep_pickup_datetime   object
 2   tpep_dropoff_datetime  object
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           float64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
dtypes: float64(13), int64(2), object(3)
memory usage: 1.9 GB

# Method 1: Choose your columns wisely

In [7]:
df.shape

(6310419, 18)

In [8]:
df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge'],
      dtype='object')

In [9]:
df = pd.read_csv('/Users/reuven/Courses/Current/data/nyc_taxi_2019-07.csv',
                usecols=['tpep_pickup_datetime', 'tpep_dropoff_datetime',
                        'passenger_count', 'trip_distance', 'total_amount', 'payment_type'])

In [10]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6310419 entries, 0 to 6310418
Data columns (total 6 columns):
 #   Column                 Dtype
---  ------                 -----
 0   tpep_pickup_datetime   object
 1   tpep_dropoff_datetime  object
 2   passenger_count        float64
 3   trip_distance          float64
 4   payment_type           float64
 5   total_amount           float64
dtypes: float64(4), object(2)
memory usage: 1.1 GB

# Method 2: Choose dtypes appropriately

In [11]:
df['passenger_count'].value_counts()

1.0    4380890
2.0     953756
3.0     279181
5.0     254262
6.0     151710
4.0     139710
0.0     116884
7.0         29
8.0         22
9.0         16
Name: passenger_count, dtype: int64

In [14]:
# replace the old column with a new column of the same name, with 1/4 the memory usage!
df['passenger_count'] = df['passenger_count'].astype('float16')

In [15]:
df['trip_distance'] = df['trip_distance'].astype('float16')
df['total_amount'] = df['total_amount'].astype('float16')

In [16]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6310419 entries, 0 to 6310418
Data columns (total 6 columns):
 #   Column                 Dtype
---  ------                 -----
 0   tpep_pickup_datetime   object
 1   tpep_dropoff_datetime  object
 2   passenger_count        float16
 3   trip_distance          float16
 4   payment_type           float64
 5   total_amount           float16
dtypes: float16(3), float64(1), object(2)
memory usage: 999.0 MB

In [17]:
df

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,payment_type,total_amount
0,2019-07-01 00:51:04,2019-07-01 00:51:33,1.0,0.000000,1.0,4.941406
1,2019-07-01 00:46:04,2019-07-01 01:05:46,1.0,4.160156,2.0,20.296875
2,2019-07-01 00:25:09,2019-07-01 01:00:56,1.0,18.796875,1.0,70.687500
3,2019-07-01 00:33:32,2019-07-01 01:15:27,1.0,18.453125,1.0,66.375000
4,2019-07-01 00:00:55,2019-07-01 00:13:05,0.0,1.700195,1.0,15.296875
...,...,...,...,...,...,...
6310414,2019-07-29 16:34:53,2019-07-29 16:53:20,NaN,3.859375,NaN,29.000000
6310415,2019-07-29 16:07:57,2019-07-29 17:26:41,NaN,15.476562,NaN,54.437500
6310416,2019-07-29 16:01:31,2019-07-29 17:15:38,NaN,12.921875,NaN,65.375000
6310417,2019-07-29 16:58:00,2019-07-29 17:42:00,NaN,7.121094,NaN,43.000000
6310418,2019-07-29 16:16:00,2019-07-29 16:33:00,NaN,1.769531,NaN,22.156250

In [20]:
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

In [22]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6310419 entries, 0 to 6310418
Data columns (total 6 columns):
 #   Column                 Dtype
---  ------                 -----
 0   tpep_pickup_datetime   datetime64[ns]
 1   tpep_dropoff_datetime  datetime64[ns]
 2   passenger_count        float16
 3   trip_distance          float16
 4   payment_type           float64
 5   total_amount           float16
dtypes: datetime64[ns](2), float16(3), float64(1)
memory usage: 180.5 MB

# Method 3: Remove rows you don't need

In [23]:
# get rid of any rows in which the total_amount < 0

(df['total_amount'] < 0).value_counts()

False    6297132
True       13287
Name: total_amount, dtype: int64

In [24]:
df = df.loc[df['total_amount'] >= 0]

In [25]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6297132 entries, 0 to 6310418
Data columns (total 6 columns):
 #   Column                 Dtype
---  ------                 -----
 0   tpep_pickup_datetime   datetime64[ns]
 1   tpep_dropoff_datetime  datetime64[ns]
 2   passenger_count        float16
 3   trip_distance          float16
 4   payment_type           float64
 5   total_amount           float16
dtypes: datetime64[ns](2), float16(3), float64(1)
memory usage: 228.2 MB

In [27]:
# remove any rows in which passenger_count is NaN

(df['passenger_count'].isnull()).value_counts()

False    6263194
True       33938
Name: passenger_count, dtype: int64

In [29]:
df = df.loc[~df['passenger_count'].isnull()]

In [30]:
df.shape

(6263194, 6)

In [31]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6263194 entries, 0 to 6276459
Data columns (total 6 columns):
 #   Column                 Dtype
---  ------                 -----
 0   tpep_pickup_datetime   datetime64[ns]
 1   tpep_dropoff_datetime  datetime64[ns]
 2   passenger_count        float16
 3   trip_distance          float16
 4   payment_type           float64
 5   total_amount           float16
dtypes: datetime64[ns](2), float16(3), float64(1)
memory usage: 227.0 MB

In [33]:
# now I can actually turn passenger_count into an integer column!

df['passenger_count'] = df['passenger_count'].astype('int8')

In [34]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6263194 entries, 0 to 6276459
Data columns (total 6 columns):
 #   Column                 Dtype
---  ------                 -----
 0   tpep_pickup_datetime   datetime64[ns]
 1   tpep_dropoff_datetime  datetime64[ns]
 2   passenger_count        int8
 3   trip_distance          float16
 4   payment_type           float64
 5   total_amount           float16
dtypes: datetime64[ns](2), float16(2), float64(1), int8(1)
memory usage: 221.0 MB

In [37]:
df['payment_type'] = df['payment_type'].astype('int8')

In [38]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6263194 entries, 0 to 6276459
Data columns (total 6 columns):
 #   Column                 Dtype
---  ------                 -----
 0   tpep_pickup_datetime   datetime64[ns]
 1   tpep_dropoff_datetime  datetime64[ns]
 2   passenger_count        int8
 3   trip_distance          float16
 4   payment_type           int8
 5   total_amount           float16
dtypes: datetime64[ns](2), float16(2), int8(2)
memory usage: 179.2 MB